@import "~bootstrap/scss/bootstrap";



/* Please â¤ this if you like it! */


/* ======================================== * 
		        BEST VIEWED FULLSCREEN
   https://codepen.io/ig_design/full/GPVXVx
 * ======================================== */

 @import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');

 body{
     width: 100%;
     display: block;
     overflow-x: hidden;
     background-color: #1f2029;
   color: #c4c3ca;
     font-family: 'Muli', sans-serif;
 }
 ::selection {
     background-color: #000;
   color: #fff;
 }
 ::-moz-selection {
     background-color: #000;
   color: #fff;
 }
 a:hover{
   text-decoration: none;
 }

 .header {
    background: #000;
    fill-opacity: 1;
    position: fixed;
    top: 0;
    z-index: 9;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    .site-name {
        padding: 0.5em;
        font-size: 14pt;
        margin: 0 1rem;
        text-align: right;
    }
 }

 .shadow-title{
     position: fixed;
     top: 0;
     margin-top: 30px;
     left: 20px;
     width: 100%;
     height: 300%;
     text-align: left;
     font-family: 'Muli', sans-serif;
     -webkit-writing-mode: vertical-lr;
     writing-mode: vertical-lr;
     font-size: 18vw;
     line-height: 1;
     color: rgba(200,200,200,.1);
     background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.35));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 900;
     z-index: 1;
 }
 .section-parallax{
     position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: cover;
   z-index: 2;
 }
 .parallax-00 {
    //background-image: url('./img/p2.jpg');
    background-color: #000000;
 }
 .parallax-01 {
    background-image: url('./img/main.png');
 }
 .section {
   position: relative;
     width: 100%;
     display: block;
 }
 .full-height {
     height: 100vh;
 }
 .section.z-bigger {
     z-index: 100;
 }
 .section.z-bigger-2 {
     z-index: 200;
 }
 .section-title-wrap{
     position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   transform: translateY(-50%);
   z-index: 3;
 }
 .section-title-wrap p{
     font-size: 22px;
     font-weight: 700;
     padding: 0;
   color: #000000;
 }
 .section-title-wrap h1{
     margin: 0;
     padding: 0;
     font-size: 5vw;
     font-weight: 900;
   color: #fff;
     line-height: 1.5;
   text-transform: uppercase;
 }
 .padding-top-bottom {
     padding-top: 100px;
     padding-bottom: 100px;
 }
 .over-hide{
     overflow: hidden;
 }
 .background-dark {
     background-color: #101010;
 }

//  Waves

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }